* {
    font-family: "Segoe UI", Tahoma, Sans-Serif;
}

body {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 2147483647;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    zoom: reset;
    font-family: system-ui, sans-serif;
  }

  #header ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  #header li {
      float: left;
  }

  #header li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  #header li a:hover {
      background-color: #111;
  }
